node_modules/
/node_modules
/tests
/tmp

# Root-level .env
.env
.env.*

# Client-side environment files
client/.env
client/.env.*

# Server-side environment files
server/.env
server/.env.*

# Ignore everything in server/logs


# But keep .gitkeep file
!server/logs/.gitkeep

